
*{
	list-style-type:none;
	margin: 0px auto;
	padding: 0px auto;
	text-decoration: none;
	font-family: "黑体";

}
img{ border:0;}
body{
	background-color:#ece9d8;
	}


#main {
	margin-top:100px;
	width: 800px;
	height:420px;
	background-image:url(../img/login/bg.png);
}
#left{
	width: 340px;
	height:320px;
	float:left;

	margin-top:50px;
	margin-left:50px;

	}
#right{
	width: 400px;
	height:420px;
	float:right;
	text-align:center;
padding-top:70px;
	}
#subtitle{
	margin-top:10px;
	}
#line{
	border:1px dashed #000; 
	height:1px;
	}
#mailbox{
	margin-top:10px;
	margin-bottom:5px;
	}
#pswd{
	margin-top:10px;
	margin-bottom:5px;
}
#verify{
	margin-top:10px;
	margin-bottom:5px;	
	}
#submit{
	margin-top:20px;
	margin-bottom:5px;	
	}
